 article{
    background-color: rgba(163,186,204,0.8);
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 15px;
    font-family: fantasy, sans-serif;
    
}
.img{
    margin-left: 63px;
    margin-top: 20px;
   
}

ul{
  list-style: none;
}

body {
    background-image: url(j.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: fantasy, serif;
    background-attachment: fixed;
    margin: 0;
    font-family: fantasy, sans-serif;

    
} 

.img:hover img{
    transform:scale(1.2);

}


input,label{
    color:#2C75FF;
}


.grille{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

